In [528]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [552]:
name_basics = pd.read_csv('imdb.name.basics.csv')
title_akas = pd.read_csv('imdb.title.akas.csv')
title_basics = pd.read_csv('imdb.title.basics.csv')
title_crew = pd.read_csv('imdb.title.crew.csv')
title_principals = pd.read_csv('imdb.title.principals.csv')
title_ratings = pd.read_csv('imdb.title.ratings.csv')
rt_info = pd.read_csv('rt.movie_info.tsv',delimiter = '\t')
rt_reviews = pd.read_csv('rt.reviews.tsv' , encoding = 'windows-1254',delimiter = '\t')
tmdb = pd.read_csv('tmdb.movies.csv')
tn_budgets = pd.read_csv ('tn.movie_budgets.csv')
bom = pd.read_csv('bom.movie_gross.csv')

In [553]:
tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [554]:
tn_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [555]:
# genres = {28:'action',16:'animated',99:'documentary',18:'drama',10751:'family',
#          14:'fantasy',36:'hiatory',35:'comedy',10752:'war',80:'crime',10402:'music',
#          9648:'mystery',10749:'mystery',878:'sci-fi',27:'horror',10770:'TV-movie',
#          53:'thriller',37:'western',12:'adventure'}
genres = {'28':'action','16':'animated','99':'documentary','18':'drama','10751':'family',
          '14':'fantasy','36':'hiatory','35':'comedy','10752':'war','80':'crime','10402':'music',
          '9648':'mystery','10749':'mystery','878':'sci-fi','27':'horror','10770':'TV-movie',
          '53':'thriller','37':'western','12':'adventure'}

In [556]:
tn_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [557]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [558]:
tmdb.genre_ids = tmdb.genre_ids.str.replace('[', '').str.replace(']', '')
tmdb.genre_ids = tmdb.genre_ids.str.replace(' ', '')
tmdb.genre_ids = tmdb.genre_ids.str.split(',')

In [559]:
tmdb['genre_ids'].head()

0        [12, 14, 10751]
1    [14, 12, 16, 10751]
2          [12, 28, 878]
3        [16, 35, 10751]
4          [28, 878, 12]
Name: genre_ids, dtype: object

In [560]:
def set_genre(genre_list):
    genres = {28:'action',16:'animated',99:'documentary',18:'drama',10751:'family',
          14:'fantasy',36:'hiatory',35:'comedy',10752:'war',80:'crime',10402:'music',
          9648:'mystery',10749:'mystery',878:'sci-fi',27:'horror',10770:'TV-movie',
          53:'thriller',37:'western',12:'adventure'}
    return [genres[x] for x in genre_list]

In [561]:
tn_budgets ['production_budget'] = tn_budgets['production_budget'].map(lambda x: x[1:].replace(',',''))
tn_budgets ['domestic_gross'] = tn_budgets['domestic_gross'].map(lambda x: x[1:].replace(',',''))
tn_budgets ['worldwide_gross'] = tn_budgets['worldwide_gross'].map(lambda x: x[1:].replace(',',''))

In [562]:
tn_budgets['production_budget'] = tn_budgets['production_budget'].map(lambda x:float(x))
tn_budgets['domestic_gross'] = tn_budgets['domestic_gross'].map(lambda x:float(x))
tn_budgets['worldwide_gross'] = tn_budgets['worldwide_gross'].map(lambda x:float(x))

In [563]:
tn_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09

In [564]:
tn_budgets['dw_ratio'] = tn_budgets['domestic_gross']/tn_budgets['worldwide_gross']
tn_budgets['dp_ratio'] = tn_budgets['domestic_gross']/tn_budgets['production_budget']
tn_budgets['wp_ratio'] = tn_budgets['worldwide_gross']/tn_budgets['production_budget']
tn_budgets.describe()
print(sum(tn_budgets['domestic_gross']==0))
print(sum(tn_budgets['worldwide_gross']==0))
print(sum(tn_budgets['production_budget']==0))

548
367
0

In [565]:
sum((tn_budgets['domestic_gross'] + tn_budgets['worldwide_gross']) == 0.0)

367

In [571]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB